<div class="relative inline-block">
  <button
    class="button relative overflow-hidden font-medium h-10 w-40 cursor-pointer
           bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition-colors duration-200
           flex items-center justify-center disabled:opacity-50 disabled:cursor-not-allowed"
    [disabled]="state() === 'loading'"
    (click)="onClick()"
    [ngClass]="{ 'buttonAnimation': state() === 'loading' || state() === 'success' }"
  >
    <!-- SMALLER CART SVG -->
    <svg
      id="cart"
      class="cart w-5 h-5 absolute left-3 top-1/2 -translate-y-1/2"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 -31 512.00033 512"
      [ngClass]="{ 'cartAnimation': state() === 'loading' || state() === 'success' }"
      fill="white"
    >
      <path d="m166 300.003906h271.003906c6.710938 0 12.597656-4.4375 14.414063-10.882812l60.003906-210.003906c1.289063-4.527344.40625-9.390626-2.433594-13.152344-2.84375-3.75-7.265625-5.964844-11.984375-5.964844h-365.632812l-10.722656-48.25c-1.523438-6.871094-7.617188-11.75-14.648438-11.75h-91c-8.289062 0-15 6.710938-15 15 0 8.292969 6.710938 15 15 15h78.960938l54.167968 243.75c-15.9375 6.929688-27.128906 22.792969-27.128906 41.253906 0 24.8125 20.1875 45 45 45h271.003906c8.292969 0 15-6.707031 15-15 0-8.289062-6.707031-15-15-15h-271.003906c-8.261719 0-15-6.722656-15-15s6.738281-15 15-15zm0 0"/>
      <path d="m151 405.003906c0 24.816406 20.1875 45 45.003906 45 24.8125 0 45-20.183594 45-45 0-24.8125-20.1875-45-45-45-24.816406 0-45.003906 20.1875-45.003906 45zm0 0"/>
      <path d="m362.003906 405.003906c0 24.816406 20.1875 45 45 45 24.816406 0 45-20.183594 45-45 0-24.8125-20.183594-45-45-45-24.8125 0-45 20.1875-45 45zm0 0"/>
    </svg>

    <!-- SMALLER TEXT -->
    <p
      id="text"
      class="text ml-2 text-sm font-sans uppercase"
      [ngClass]="{ 'textAnimation': state() === 'loading' || state() === 'success' }"
    >
      {{ label() }}
    </p>
  </button>
</div>

<style>
@keyframes moveCart {
  10% { transform: rotate(-15deg); }
  20% { transform: rotate(-2deg) translate(15px, 0px); }
  100% { transform: rotate(0deg) translate(200px, 0px); visibility: hidden; }
}
.cartAnimation {
  animation: moveCart 0.2s ease-in forwards;
}

/* Text slides to the right */
@keyframes moveText {
  10% { transform: translate(0,0); }
  100% { transform: translate(200px, 0); visibility: hidden; }
}
.textAnimation {
  animation: moveText 0.2s ease-in forwards;
}

@keyframes moveButton {  
  50% { width: calc(var(--spacing) * 38);; } /*Slightly small than button with. 38 < 40 when w-40 */
  100% { width: calc(var(--spacing) * 40); } /*Exactly equal to button with. 40 = 40 when w-40 */
} 
.buttonAnimation { 
  animation: moveButton 0.6s ease-in-out forwards; 
}
@keyframes moveAdded { 
  0% { font-size: 0px; visibility: visible; } 
  50% { font-size: 16px; } 
  100% { font-size: 18px; } } 
.buttonAnimation::before { 
  content: 'Added'; 
  position: absolute; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-family: 'Noto Sans JP', sans-serif; 
  animation: moveAdded 0.6s ease-out forwards; 
}
</style>
